@import "../assets/variables";
@import "../assets/colors";

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $myFont;
  font-size: 12px;
  margin: 0px;
  .navbar {
    padding: 5px 30px;
    background-color: $textColor;
    justify-content: space-between;

    .container {
      align-items: center;
      .collapse {
        gap: 50px;
        justify-content: center;
        font-weight: 500;
        .navbar-nav {
          gap: 15px;
        }
        ul li a {
          color: $primaryColor;
        }
      }
      .nav-item .active {
        color: $secondaryColor;
      }

      .downloadstore {
        gap: 30px;
        display: none;

        .googleplay {
          background-color: $primaryColor;
          color: $textColor;
          padding: 3px 10px;
          align-items: center;
          border-radius: 8px;
          font-size: 10px;
          font-weight: 400;

          img {
            width: 30px;
          }
          span {
            line-height: 1;
          }
        }
        .appstore {
          background-color: $textColor;
          color: $primaryColor;
          padding: 3px 10px;
          align-items: center;
          border-radius: 8px;
          border: 1px solid $primaryColor;
          font-size: 10px;
          font-weight: 400;
          img {
            width: 20px;
          }
          span {
            line-height: 1;
            padding-left: 3px;
          }
        }
      }
    }
  }
}
.firstSection {
  background-color: $primaryColor;
  padding: 50px;
  overflow: hidden;
  min-height: 450px;

  .row {
    div:first-child {
      align-items: center;
      .modeDressing {
        background-color: #f8f0e380;
        color: $textColor;
        padding: 2px 10px;
        border-radius: 19px;
        font-size: 10px;
      }
      h2 {
        color: $textColor;
        font-size: 3.6vw;
        padding-top: 20px;
        span:first-child {
          border: 1px solid $secondaryColor;
          padding: 3px 8px;
          border-radius: 100%;
        }
        span:nth-child(2) {
          color: $secondaryColor;
        }
      }
      p {
        color: $textColor;
        font-weight: 200;
      }
      .downloadstore {
        gap: 30px;
      }

      .googleplay {
        background-color: $textColor;
        border: 2px solid white;
        color: $primaryColor;
        padding: 3px 10px;
        align-items: center;
        border-radius: 8px;
        font-size: 10px;
        font-weight: 400;

        img {
          width: 30px;
        }
        span {
          line-height: 1;
        }
      }
      .appstore {
        background-color: $secondaryColor;
        color: $textColor;
        padding: 3px 10px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid $primaryColor;
        font-size: 10px;
        font-weight: 400;
        img {
          width: 20px;
        }
        span {
          line-height: 1;
          padding-left: 3px;
        }
      }
    }
  }
}
.secondSection {
  background-color: $textColor;
  padding: 50px;
  .row {
    .iphoneimage {
      position: relative;
      img {
        z-index: 0;
        position: absolute;
        top: -109px;
      }
    }
    .secondsectionrow {
      align-items: center;
      justify-content: center;

      .aboutUs {
        display: inline-flex;
        gap: 5px;
        padding-top: 40px;
        h3{
            font-size: 50px;
        }
      }
      p{
          line-height: 1.7;
          font-size: 16px;
          span{
              font-weight: bold;
          }
      }
      .downloadstore {
        gap: 30px;
      }

      .googleplay {
        background-color: $secondaryColor;
        color: $primaryColor;
        padding: 2px 15px;
        align-items: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        gap: 4px;
        

        img {
          width: 50px;
        }
        span {
          line-height: 1;
        }
      }
      .appstore {
        background-color: $primaryColor;
        padding-top: 10px;
        color: $textColor;
        padding: 5px 20px;
        align-items: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        gap: 10px;

        img {
          width: 35px;
        }
        span {
          line-height: 1;
        }
      }
    }
  }
}
@media screen and (max-width:768px) {
    .iphoneimage{
        display: none;
    }
    
}
