* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 12px;
  margin: 0px;
}

body .navbar {
  padding: 5px 30px;
  background-color: #F8F0E3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navbar .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .container .collapse {
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

body .navbar .container .collapse .navbar-nav {
  gap: 15px;
}

body .navbar .container .collapse ul li a {
  color: #020636;
}

body .navbar .container .nav-item .active {
  color: #D65123;
}

body .navbar .container .downloadstore {
  gap: 30px;
  display: none;
}

body .navbar .container .googleplay {
  background-color: #020636;
  color: #F8F0E3;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 400;
}

body .navbar .container .googleplay img {
  width: 30px;
}

body .navbar .container .googleplay span {
  line-height: 1;
}

body .navbar .container .appstore {
  background-color: #F8F0E3;
  color: #020636;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #020636;
  font-size: 10px;
  font-weight: 400;
}

body .navbar .container .appstore img {
  width: 20px;
}

body .navbar .container .appstore span {
  line-height: 1;
  padding-left: 3px;
}

.firstSection {
  background-color: #020636;
  padding: 50px;
}

.firstSection .row div:first-child .modeDressing {
  background-color: #f8f0e380;
  color: #F8F0E3;
  padding: 2px 10px;
  border-radius: 19px;
}

.firstSection .row div:first-child h2 {
  color: #F8F0E3;
  font-size: 3.6vw;
  padding-top: 20px;
}

.firstSection .row div:first-child h2 span:first-child {
  border: 1px solid #D65123;
  padding: 3px 8px;
  border-radius: 100%;
}

.firstSection .row div:first-child h2 span:nth-child(2) {
  color: #D65123;
}

.firstSection .row div:first-child p {
  color: #F8F0E3;
  font-weight: 200;
}

.firstSection .row div:first-child .downloadstore {
  gap: 30px;
}

.firstSection .row div:first-child .googleplay {
  background-color: #F8F0E3;
  border: 2px solid white;
  color: #020636;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 400;
}

.firstSection .row div:first-child .googleplay img {
  width: 30px;
}

.firstSection .row div:first-child .googleplay span {
  line-height: 1;
}

.firstSection .row div:first-child .appstore {
  background-color: #D65123;
  color: #F8F0E3;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #020636;
  font-size: 10px;
  font-weight: 400;
}

.firstSection .row div:first-child .appstore img {
  width: 20px;
}

.firstSection .row div:first-child .appstore span {
  line-height: 1;
  padding-left: 3px;
}

.firstSection .row div:nth-child(2) img {
  width: 400px;
}
/*# sourceMappingURL=style.css.map */