* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 12px;
  margin: 0px;
}

body .navbar {
  padding: 5px 30px;
  background-color: #F8F0E3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navbar .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .container .collapse {
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

body .navbar .container .collapse .navbar-nav {
  gap: 15px;
}

body .navbar .container .collapse ul li a {
  color: #020636;
}

body .navbar .container .nav-item .active {
  color: #D65123;
}

body .navbar .container .downloadstore {
  gap: 30px;
  display: none;
}

body .navbar .container .downloadstore .googleplay {
  background-color: #020636;
  color: #F8F0E3;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 400;
}

body .navbar .container .downloadstore .googleplay img {
  width: 30px;
}

body .navbar .container .downloadstore .googleplay span {
  line-height: 1;
}

body .navbar .container .downloadstore .appstore {
  background-color: #F8F0E3;
  color: #020636;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #020636;
  font-size: 10px;
  font-weight: 400;
}

body .navbar .container .downloadstore .appstore img {
  width: 20px;
}

body .navbar .container .downloadstore .appstore span {
  line-height: 1;
  padding-left: 3px;
}

.firstSection {
  background-color: #020636;
  padding: 50px;
  overflow: hidden;
  min-height: 450px;
}

.firstSection .row div:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstSection .row div:first-child .modeDressing {
  background-color: #f8f0e380;
  color: #F8F0E3;
  padding: 2px 10px;
  border-radius: 19px;
  font-size: 10px;
}

.firstSection .row div:first-child h2 {
  color: #F8F0E3;
  font-size: 3.6vw;
  padding-top: 20px;
}

.firstSection .row div:first-child h2 span:first-child {
  border: 1px solid #D65123;
  padding: 3px 8px;
  border-radius: 100%;
}

.firstSection .row div:first-child h2 span:nth-child(2) {
  color: #D65123;
}

.firstSection .row div:first-child p {
  color: #F8F0E3;
  font-weight: 200;
}

.firstSection .row div:first-child .downloadstore {
  gap: 30px;
}

.firstSection .row div:first-child .googleplay {
  background-color: #F8F0E3;
  border: 2px solid white;
  color: #020636;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 400;
}

.firstSection .row div:first-child .googleplay img {
  width: 30px;
}

.firstSection .row div:first-child .googleplay span {
  line-height: 1;
}

.firstSection .row div:first-child .appstore {
  background-color: #D65123;
  color: #F8F0E3;
  padding: 3px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #020636;
  font-size: 10px;
  font-weight: 400;
}

.firstSection .row div:first-child .appstore img {
  width: 20px;
}

.firstSection .row div:first-child .appstore span {
  line-height: 1;
  padding-left: 3px;
}

.secondSection {
  background-color: #F8F0E3;
  padding: 50px;
}

.secondSection .row .iphoneimage {
  position: relative;
}

.secondSection .row .iphoneimage img {
  z-index: 0;
  position: absolute;
  top: -109px;
}

.secondSection .row .secondsectionrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondSection .row .secondsectionrow .aboutUs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  padding-top: 40px;
}

.secondSection .row .secondsectionrow .aboutUs h3 {
  font-size: 40px;
}

.secondSection .row .secondsectionrow p {
  line-height: 1.7;
  font-size: 16px;
}

.secondSection .row .secondsectionrow p span {
  font-weight: bold;
}

.secondSection .row .secondsectionrow .downloadstore {
  gap: 30px;
}

.secondSection .row .secondsectionrow .googleplay {
  background-color: #D65123;
  color: #020636;
  padding: 2px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  gap: 4px;
}

.secondSection .row .secondsectionrow .googleplay img {
  width: 50px;
}

.secondSection .row .secondsectionrow .googleplay span {
  line-height: 1;
}

.secondSection .row .secondsectionrow .appstore {
  background-color: #020636;
  padding-top: 10px;
  color: #F8F0E3;
  padding: 5px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  gap: 10px;
}

.secondSection .row .secondsectionrow .appstore img {
  width: 35px;
}

.secondSection .row .secondsectionrow .appstore span {
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .iphoneimage {
    display: none;
  }
}

.thirdSection {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F8F0E3;
}

.thirdSection .row a {
  text-decoration: none;
  background-color: #020636;
  color: #F8F0E3;
  padding: 10px 60px;
  border-radius: 15px;
}

.thirdSection .row .checkbox p {
  font-size: 17px;
}

.thirdSection .row .checkbox .check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 15px;
}

.thirdSection .row .checkbox .check img {
  width: 20px;
}

.thirdSection .row .checkbox .check span {
  font-size: 15px;
}

.thirdSection .row .howitworks {
  gap: 10px;
}

.fourthSection {
  background-image: url(/images/section4bg.svg);
  background-position: -54px -223px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-color: #020636;
  padding: 50px;
}

.fourthSection h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F8F0E3;
  font-size: 40px;
}

.fourthSection p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F8F0E3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

.fourthSection .iphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .fourthSection .iphone {
    display: none;
  }
  .fourthSection h2 {
    font-size: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourthSection p {
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fourthSection .downloadstore {
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourthSection .downloadstore .googleplay {
  background-color: #D65123;
  color: #F8F0E3;
  padding: 8px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourthSection .downloadstore .googleplay img {
  width: 30px;
}

.fourthSection .downloadstore .googleplay span {
  line-height: 1;
}

.fourthSection .downloadstore .appstore {
  background-color: #F8F0E3;
  padding: 8px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #020636;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourthSection .downloadstore .appstore img {
  width: 20px;
}

.fourthSection .downloadstore .appstore span {
  color: #020636;
  line-height: 1;
  padding-left: 3px;
}

.fifthSection {
  background-color: #F8F0E3;
  min-height: 500px;
  padding: 50px;
}

footer {
  background-color: #020636;
  min-height: 500px;
  padding: 50px;
}

footer .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .row .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .center h3 {
  padding-bottom: 15px;
  font-size: 30px;
}

footer .row .center p {
  color: #F8F0E3;
  line-height: 1.5;
}

footer span {
  color: #F8F0E3;
  width: 75%;
  line-height: 2.3;
}

footer .socials {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .socials img {
  width: 30px;
}

footer h3 {
  color: #F8F0E3;
}

footer .copyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright p {
  font-size: 15px;
  color: #F8F0E3;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: #020636;
    min-height: 500px;
    padding: 50px;
  }
  footer .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  footer .footeritems {
    display: none;
  }
  footer .row .center {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .copyright {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .copyright p {
    font-size: 11px;
    color: #F8F0E3;
  }
}
/*# sourceMappingURL=style.css.map */